.section {
  margin-bottom: 3.5rem;
}

.section__title {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 3.2rem;
  color: #6715eb;
}

.section__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__container__image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-right: 3.5rem;
}

.section__container__content {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  text-align: left;
  width: 550px;
}

.section__container__content a,
.section__container__content a:visited {
  text-decoration: none;
  color: #6715eb;
}
